.bridge-switcher {
  .input-field__column--revert {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;

    img {
      transform: rotate(90deg);
      width: 35px;
    }
  }
  &__amount-value {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.61);
  }

  &__inputs {
    @media (max-width: 768px) {
      flex-flow: column;
      .input-field__column {
        width: 100%;
      }
      .input-field__column--revert {
        width: 100%;

        img {
          transform: none;
        }
      }
    }
  }
  .select-field__token-v .select-field__value-container {
    @media (max-width: 768px) {
      height: 60px;
    }
  }
  .select-field__token {
    @media (max-width: 768px) {
      flex-flow: row;
      align-items: center;
    }
  }
}

.bridge-transactions {
  &__table-wrapper {
    @media (max-width: 768px) {
      overflow-x: scroll;
    }
  }
  &__table {
    width: 100%;
    margin-bottom: 30px;
    border-spacing: 0;
    th {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #838699;
      padding: 5px;
      text-align: left;
    }

    td {
      padding: 8px 5px;
      border-bottom: 1px solid #838798;
      font-size: 14px;
      font-size: 13px;
      color: #fff;
    }
  }

  &__refresh {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15.0688px;
    line-height: 14px;
    text-align: center;
    color: #46DD83;
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-left: 5px;
    }
    &:hover {
      img {
        transform: rotate(360deg);
        transition: all 1s ease;
      }
    }
  }
}
