.staking {
    padding: 0;
    padding-bottom: 100px;

    .header-container__item {
        width: 540px;
        max-width: 100%;
        @media (max-width: 768px) {
            width: auto;
            padding-bottom: 30px;
        }
    }

    .card-filled {
        padding: 25px;
        z-index: 2;
    }

    .card-narrow {
        min-width: 425px;
        @media (max-width: 768px) {
            width: 100%;
            min-width: auto;
        }
    }


    &__card-left {
        @media (max-width: 1722px) {
            width: 100%;
            max-width: 1170px;
        }
    }
    &__card-right {
        justify-content: space-between;
        max-width: 930px;

        @media (max-width: 1722px) {
            width: 100%;
            max-width: 1170px;
        }
        @media (max-width: 768px) {
            flex-flow: column;
            width: 100%;
        }

        .card-filled {
            width: 50%;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }

            @media (max-width: 1722px) {
                width: 100%;
                max-width: 452px;
                margin-right: 0;
                &:last-child {
                    width: 100%;
                    margin-left: 30px;
                    max-width: none;

                }
            }
            @media (max-width: 768px) {
                margin-left: 0 !important;
                margin-top: 20px;
            }
        }
    }

    .small-block-container {
        width: 50%;
        background: #2dff82;
        border: 1px solid rgba(47, 41, 84, 0.09);
        backdrop-filter: blur(21px);
        border-radius: 20px;
        padding: 20px;

        @media (max-width: 1722px) {
            width: 100%;
            max-width: 452px;
        }
    }

    .tvr-block {
        background: rgba(49, 56, 85, 0.49);
        width: 50%;
        border: 2px solid #2dff82;
        margin-left: 30px;
        box-sizing: border-box;
        backdrop-filter: blur(21px);
        border-radius: 20px;
        padding: 20px;

        @media (max-width: 1722px) {
            width: 100%;
        }
    }



    .staking-calculator {
        width: 100%;
        max-width: 930px;
        padding: 0;
        flex: 1;

        &__bar {
            padding: 0 30px;
        }

        &-header {
            width: 100%;
            height: 22px;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 40px 30px 0 30px;
        }

        &-buttons-group {
            margin-left: 2em;
        }
    }


    &__switcher {
        margin-left: 60px;
        margin-right: 60px;
        padding: 4px 5px;

        @media (max-width: 768px) {
            margin-left: 0;
            margin-right: 50px;


        }
    }

    .swap-switcher__settings {
        @media (max-width: 768px) {
            top: 43px;
        }
    }
}

.header-staking-container {
    width: 100%;
    height: 45px;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
}
.header-earn-container {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: #ffffff;
}
.earn-span {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #2dff82;
}
.staking-header-general-container {
    height: 250px;
    display: flex;
    background: rgba(60, 67, 100, 0.49);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(92px);
}
.bsc-network-button {
    width: 150px;
}

.bsc-button-content {
    margin-left: 0.8em;
    margin-top: 0.9em;
}
.bsc-button-icon {
    width: 25px;
    margin-left: 0.9em;
    margin-top: 0.5em;
}

.slider-container {
    margin-top: 2em;
    margin-left: -2.5em;
}

.small-blocks {
    display: flex;
}
.staking-blocks {
    margin-top: 2em;
    margin-left: 2em;
}
.network-overview-container {
    margin-top: 1em;
    font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    color: #ffffff;
    padding-left: 30px;
}
.small-block-header {
    height: 19px;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #0e1017;
}
.small-block-body {
    height: 70px;
    font-weight: bold;
    font-size: 35px;
    line-height: 70px;
    color: #0e1017;
}

.tvr-block-header {
    height: 19px;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #2dff82;
}
.tvr-block-body {
    height: 59px;
    font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    color: #ffffff;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}
.tvr-block-body-span {
    height: 43px;
    margin-top: -1em;
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.62);
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
.small-block-chart-container {
    width: 93%;
    background: rgba(49, 56, 85, 0.61);
    border: 1px solid rgba(47, 41, 84, 0.09);
    backdrop-filter: blur(18px);
    border-radius: 20px;
    padding: 20px;
    height: 123px;
}

.body-container-staking-zam {
    display: flex;
}
.stake-zam-container-header {
    align-content: center;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
}
.max-button {
    width: 70px;
    background: transparent;
    height: 28.18px;
    border: 0.880597px solid #15fb72;
    box-sizing: border-box;
    border-radius: 7.04478px;
    color: #15fb72;
    cursor: pointer;
    &:hover {
        background: #15fb72;
        color:#141924;
    }

}
.zam-coin-ending-column {
    color: #838699;
    font-size: 20px;
    line-height: 120%;
}

.filed-container-title {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
}
.field-container-title-span {
    color: #15fb72;
}
.flex-end {
    justify-content: flex-end;
}
.zam-token-name {
    margin-right: 1em;
}

.stake-unstake-body-card {
    width: 180px;
    height: 130px;
    background: rgba(14, 16, 23, 0.76);
    backdrop-filter: blur(13px);
    border-radius: 15px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
.stake-unstake-body-card-value {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.stake-unstake-footer-card {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 1em;
}
.stake-unstake-footer-card-title {
    font-size: 16px;
    line-height: 120%;
    color: #2df98a;
}
.stake-unstake-footer-card-value {
    font-size: 35px;
    line-height: 70px;
    color: #ffffff;
}
.rewards-body-card {
    height: 130px;
    backdrop-filter: blur(13px);
    border-radius: 15px;
    margin-top: 1em;
    justify-content: center;
    display: flex;
    background-image: url(../images/rewards-body-card-image.png);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
}
.rewards-body-card-value {
    width: 133px;
    height: 70px;
    font-weight: 500;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
}
.stake-unstake-body {
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 768px) {
        flex-flow: column;
    }
}


.set-width {
    width: 110px;
}
.range-title {
    display: flex;
    margin: 3em 0 1em 0;
    justify-content: space-between;
    padding: 0 30px;
}
.range-title-header {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #ffffff;
}
.range-title-body {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
}
.stakinkg-calculator-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
.period-container {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #ffffff;
    text-align: center;
}
.period-zam {
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #ffffff;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}
.period-zam-cost {
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #2dff82;
}
.calculator-footer-column {
    width: 33.3%;
    border-right: 3px solid rgba(14, 16, 23, 0.33);
    &:last-child {
        border: 0;
    }
}
