.swap-switcher {

  &__revert {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rate {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #838699;
    margin: 30px 0;


  }

  .input-field__column--token-name {
    width: 60px;
    white-space: nowrap;
    padding-left: 5px;
    margin-right: 15px;
  }

  &__approve {
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.swap-chart {
  .ReactChart {
    .Series {
      g, + g {
        transform: none !important;
      }
    }
    .axes {
      .domainAndTicks {
        display: none;
      }
      .Axis-Group {
        transform: none !important;
      }
    }

  }


  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tokens {
    display: flex;
    align-items: center;
    &-images {
      img {
        width: 30px;
        margin-right: -5px;
      }
    }
    &-names {
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      margin-left: 20px;
      margin-top: -4px;
      margin-right: 10px;
      span {
        color: #838699;
      }
    }
    &-revert {
      img {
        transform: rotate(90deg);
        width: 22px;
        height: 22px;
      }
    }
  }
  &__ranges {
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 5px 15px;
        font-weight: 500;
        font-size: 14px;
        color: #838699;
        cursor: pointer;
        &.active {
          background: #46DD83;
          border-radius: 50px;
          color: #0E1017;
        }
      }
    }
  }

  &__rate {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 20px;
    span {
      color: #838699;
    }
  }
  &__rate-change {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #26E072;

    &.red {
      color: #a52a2a;
    }
    span {
      color: #fff;
    }
  }

  &__chart {
    width: calc(100% + 30px);
    height: 300px;
    margin-top: 30px;
  }

  .recharts-default-tooltip {
    background: #151F2C !important;
    border-radius: 11px !important;
    border: 0 !important;
    color: #fff !important;
  }
  .recharts-cartesian-axis-line {
    display: none;
  }
  .recharts-tooltip-cursor {
    display: none !important;
  }
}



.nomics-ticker-widget-embedded.nomics-ticker-widget-bg-light {
  background: none !important;
}
iframe .nomics-asset-widget a.asset-link.heavy {
  display: none !important;
}
