.modal {
  &__overlay {
    top: 0;
    left: 0;
    background: rgba(26, 32, 43, 0.1);
    position: fixed;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999999;
    backdrop-filter: blur(5px);
  }

  &__wallet {
    position: relative;
    height: fit-content;
    width: 600px;
    max-width: 100%;
    background: #fff;
    pointer-events: auto;
    padding: 40px;

    background: rgba(35, 41, 62, .97);
    border: 1px solid rgba(47, 41, 84, 0.09);
    box-sizing: border-box;
    //backdrop-filter: blur(2px);
    border-radius: 20px;

    h4 {
      font-weight: bold;
      font-size: 22px;
      line-height: 120%;
      color: #FFFFFF;
    }

    .label {
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.61);
      margin: 20px 0;

    }

  }

  &__wallet-agreement {
    display: flex;
    .checkbox {
      background: #0E1118;
      width: 28px;
      height: 28px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-shrink: 0;
      margin-right: 10px;

      svg {
        display: none;
        width: 15px;
        height: 12px;
      }

      input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;

        &:checked + svg {
          display: block;
        }
      }

      &-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;

        a {
          color: #2DFF82;
          text-decoration: underline;
        }
      }
    }

  }

  &__wallets {
    display: flex;

    .wallet {
      background: rgba(14, 16, 23, 0.76);
      backdrop-filter: blur(13px);
      border-radius: 15px;
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 102px;
      padding: 10px;
      margin-right: 15px;
      filter: grayscale(1);
      border: 2px solid transparent;

      &__name {
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
      }

      img {
        width: 42px;
        height: 42px;
        margin-bottom: 15px;

      }

      &.active {
        filter: grayscale(0);
        cursor: pointer;
        &:hover {
          border: 2px solid #2DFF82;
        }
      }
      &.current {
        filter: grayscale(0);
        border: 2px solid #2DFF82;
      }
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 14px;
    height: 14px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__error {
    padding: 5px 20px;
    text-align: center;
    color: #ce3b30;
  }

  &__content {
    display: flex;
  }


}
