@import "parts/header";
@import "parts/sidebar";
@import "buttons";
@import "card";
@import "fields/input";
@import "fields/select";
@import "pages/swap";
@import "pages/bridge";
@import "atomic";
@import "pages/farming";
@import "pages/z-meta-board.scss";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body {
  background: #0E1017;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #383856;
  margin: 10px 20px 10px 0;
}

main {
  display: flex;
}
article {
  padding: 25px;
  width: 100%;
}

.alert {
  color: #ff0000;
  padding-top: 20px;
}

.title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  color: #FFFFFF;
}
